<!-- <?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="Skip API" stopProcessing="true">
          <match url="^(v1|swagger)(/.*)?$" />
          <action type="None" />
        </rule>

       
        <rule name="React Router" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>

    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

  </system.webServer>
</configuration> -->

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Proxy to 360 -->
        <rule name="API Proxy 360" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://172.17.107.221:8082/v1/{R:1}" logRewrittenUrl="true" />
          <!-- <action type="Rewrite" url="http://172.17.107.221:8090/v1/{R:1}" logRewrittenUrl="true" /> -->
          <!-- <action type="Rewrite" url="http://care360.propertylifts.com/v1/{R:1}" logRewrittenUrl="true" /> -->
        </rule>

        <!-- React SPA fallback -->
        <rule name="React Router" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
